%h2 My Shares
%h4 SHARE requests
%ul
  - @share_requests.each do |item|
    %li
      = item.name #link_to item.name, item_path(item.id)

%h4 SHARE approvals
%h4 SHARE checkouts

%h2 My Borrows
%h4 BORROW requests
%ul
  - @borrow_requests.each do |item|
    %li
      = item.name #link_to item.name, item_path(item.id)

%h4 BORROW approvals
%h4 BORROW checkouts
