%h2 All users (should be friends of current_user)

%ul
  - @users.each do |user|
    %li
      = user.name
      = link_to "Request to share with " + user.name, friends_path(receiver_id: user.id), { method: "post" }
