%h2 All of my friends I have the ability to share items with

%ul
  - @friends.each do |friend|
    %li
      = friend.name
      = link_to "go to their profile. change this link.", friends_path(receiver_id: friend.id), { method: "post" }
