%h2 Sharing Friends

%ul
  - @friends.each do |friend|
    %li.friends
      = link_to image_tag(profile_picture_path(friend)), user_path(friend)
      = link_to friend.name, user_path(friend.id)
  %br
  = link_to "Check to see if you have friends on Anatta.ly", new_friend_path(current_user)
