%h2
  = @current_user.name
  , your friends are already on Anatta.ly!

%ul
  - @matches.each do |friend|
    %li
      = friend.name
      = link_to "Request to share with " + friend.name, friends_path(receiver_id: friend.id), { method: "post" }
