%h2
  = @current_user.name
  's friends

%p Your friends are already on Anattaly!
%ul
  - @matches.each do |friend|
    %li
      - f = User.find_by_facebook_id(friend[0]['id'])
      = f.name
      = link_to "Request to share with " + f.name, friends_path(receiver_id: f.id), { method: "post" }
