%h2
  = @current_user.name
  's friends

%p Your friends are already on Anattaly!
%ul
  - @matches.each do |friend|
    %li
      = friend.name
      = link_to "Request to share with " + friend.name, friends_path(receiver_id: friend.id), { method: "post" }
