%h2
  = @current_user.name
  , your friends are already on Anatta.ly!

%ul
  - @matches.each do |friend|
    - if Friend.find_by_receiver_id(friend.id) == nil && Friend.find_by_requester_id(friend.id) == nil
      %li
        = friend.name
        = link_to "Request to share with " + friend.name, friends_path(receiver_id: friend.id), { method: "post" }
