%div.about_block.odd
  %div.about_inside
    %h3.about1 Think of all the things you own. 
    %h3.about2 It's probably a lot of stuff, eh? 
    %h3.about1 How much of it is actually getting used today? This week? This month?
    %h3.about2 Now, think of all your friends. 
    %h3.about1 I betcha they have a lot of cool stuff, too.
    %br

%div.about_block.even
  %div.about_inside
    %br
    %h2.about1 What if there were a 
    %h1.about2 SIMPLE
    %h1.about1 &
    %h1.about2 EASY   
    %h2.about1 way share some of this
    %h1.about2 SPARE STUFF 
    %h2.about1 with your buds?
    %br

%div.about_block.odd
  %div.about_inside
    %h3.about1 AnattaLy is an app that makes sharing between friends easy.
    %h3.about2 Signup and signin with Facebook.
    %h3.about1 Choose which friends can become part of your sharing network.
    %h3.about2 Search for what your need & request to borrow it. 
    %h3.about1 Keep track of who you lent what to.
    %br

%div.about_block.even
  %div.about_inside
    %br
    %h2.about1 The truth is, the 
    %h1.about2 THINGS 
    %h2.about1 we want or need,
    %h1.about2 OUR FRIENDS
    %h2.about1 already have.
    %br
    %br

%div.about_block.odd
  %div.about_inside
    %h3.about1 "Anatta" is a concept in Buddhism that refers to the illusion of self and a detachment from physical items.
    %h3.about2 We don't need to spend money on something that's already in our social network.
    %h3.about1 We don't need to consume more and more.
    %h3.about2 We can choose to consume collaboritively.
    %h3.about1 We can save money and be more Earth-friendly & connected.
    %br

%div.about_block.even
  %div.about_inside
    %br
    %h2.about1 When you
    %h1.about2 SHARE MORE
    %h2.about1 you can
    %h1.about2 DO MORE.
    %br
    %br