- if current_user
  / %h1 Check out what your friends are lending out!
  %ul{class: "collection", id: "collection"}
    - @items.each do |item|
      %li.item
        = link_to image_tag(item.image.url(:small), class: "holy img-polaroid"), item_path(item.id)
        %h4= link_to item.name, item_path(item.id), class: "caption centerwrap"
        %hr
        %p= item.description*3
        / %hr
- else
  %h1= link_to "Sign up with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-small btn-primary"
  %h3 More often than not, our friends already have the things we want or need. Anatta.Ly is an app that makes it easy to share items amongst friends.

  %h1 When you share more you can DO MORE.

  =image_tag "index/test1.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test2.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test3.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test4.png", class: "img-polaroid holy desaturate"
  =image_tag "index/test5.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test4.png", class: "img-polaroid holy desaturate"
  =image_tag "index/test6.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test7.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test8.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test2.jpg", class: "img-polaroid holy desaturate"
  =image_tag "index/test1.jpg", class: "img-polaroid holy desaturate"

