%h2
  Requests for
  = @user.name

%h4 Friend Requests
%ul
  - @friend_requests.each do |fr|
    %li
      - u = User.find_by_id(fr.requester_id)
      = u.name
      = link_to "Accept", accept_friend_path(friend_id: fr.id), { method: "post", action: "accept"}#friends_path(friend_id: fr.id)

      = link_to "Deny", friend_path(fr.id), method: :delete, confirm: "Are you sure you don't want to share with  " + u.name + "?"


%h4 Item Requests

