%h2 Item listing

= render partial: "item_info"

- if current_user == @user
  %h4= link_to "Edit", edit_item_path(@item.id)
  %h4= link_to "Delete", item_path(@item.id), method: :delete, confirm: "Are you sure you want to delete " + @item.name + "?"

- if current_user != @user
  %h4
    - ask_str = "Hey, " + @user.name + ", can I borrow that " +  @item.name.downcase + "?"
    = link_to ask_str, new_share_path(item_id: @item.id)

