@import "bootstrap";

/*=====================MAIN STYLES=================*/

body {
  font-family: "Tahoma";
  font-size: 16px;
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 4em;
  margin:0;
  background: rgba(255,255,255, 1);
}

section {
  overflow: auto;
}

header {
  width: 100%;
}

.centerwrap{
  display: table;
  margin: 0 auto;
  text-align: center;
}

.header_2 {
  display: inline;
}

.navbar-inner{
  margin: 0;
  padding: 0;
}

.navbar .container{
  width: 100%;
  padding: 30px 0 0 0;
  background:rgba(34,34,34,0.9);
  overflow: visible;
  height: 50px;
  color: white;
}

.navbar .container > nav > ul {
  float: right;
  margin: 0 10px 0 0;
  position: relative;
  top:6px;
}

.navbar .container > nav > span{
  position: absolute;
  right: 10px;
  top: 7px;
  letter-spacing: 1.5px;
}

.navbar .container > nav > ul > li{
  background: rgba(21,86,130,0.5);
  padding: 2px 10px;
}

.navbar .container > nav > ul > li:nth-of-type(even):hover,
.navbar .container > nav > ul > li:nth-of-type(odd):hover{
  background: rgba(25,130,114,0.8);
  padding: 2px 10px;
}

.navbar .container > nav > ul > li{
  margin: 0 3px;

}

.navbar .container > nav > ul > li > a {
  color: rgba(254,254,254,1);
  font-size: 15px;
}

#links a{
  color: #4ac2e2;
}

#links a:hover{
  color: white;
}

span.nav_search > form{
  padding: 0; margin: 0;
  height:50px;
  float: left;
}

.categories{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  display: inline;
  position: relative;
}

.categories li {
  padding-left: 2em;
  font-size: 1.5em;
}

.categories li a{
  display: inline;
}

.search_bar{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(21,86,130,0.6);
  border-radius: 5px;
}

.index_search textfield{
  color: black;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(254,254,254,1);
  text-align: center;
  letter-spacing: 4px;
}

input:-moz-placeholder, textarea:-moz-placeholder{
 color: rgba(254,254,254,1);
  text-align: center;
letter-spacing: 5px;
}

.btn-small {
  margin-left:1em;
  font-size: 14px;
  border: 0; border-radius: 0;
  background: rgba(25,130,114,1);
  padding:5px 25px;
}

.nav pull-center{
  width: 30%;
}

.nav pull-right{
  display:inline-block;
}

footer {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  position: relative;
}

ul.collection > li{
  padding:5px 5px 20px;
  margin: 0 10px;
  max-width: 16em;
  box-shadow: 0px 1px 5px rgba(34,34,34,0.7);
}

ul.collection > li > h4 > a{
  text-decoration: none;
  text-align: center;
}

ul.collection > li >  p{
text-align: center;
}

.my_items {
  width: 246px;
}

.caption {
  color: rgba(21,86,130,1);
  font-size: 14px;
  text-wrap: none;
  text-align: center;
  width: auto;
  margin: 0 auto;
  text-transform: capitalize;
  padding-right: 1em;
}

.container-body {
  width: 90%;
  margin: 80px auto;
  color: black;
  padding-bottom: 10em;
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.holy {
  width: 15em;
  height: auto;
  padding: 0;
  margin: 0.5em 0.5em;
  display: inline-block;
}

.header_4 {
  display: inline;
}

.friends {
  width: 80%;
  border: .5em solid lightgrey;
  padding: 1em 2em;
}

.profile_box{
  display: inline-block;
  margin-left: 32px;
  padding: 10px;
}

.profile_box > h4 {
  padding: 10px 0;
}


.individual_share{
  width: 300px;
  display: inline-block;
  border: 1px solid gray;
  position: relative;
  margin-bottom: 2em;
  background-color: rgba(240, 240, 240, .5);
  li{
    display:inline-block;
  }
}
    /*li{
      display:inline-block;
    }*/
.individual_share > ul {
  border-top:1px solid gray;
  margin: 0;
}
.individual_share > ul > li{
  border-bottom:1px solid gray;
  width: 100%;
  margin: 0; padding: 0;
}
.individual_share > ul > li:last-child{
  border-bottom: none;
}

.individual_share > ul > li.share_page,
.individual_share > ul > li.request_status{
  width: 48%;
}
.individual_share > ul > li > p{
  float: right;
}
.individual_share > ul > li > a{
  float: left;
}

.action_buttons li {
  text-align: center;
  padding: 5px 10px;
  margin: 0 10px 3px 10px;
  background: rgba(21,86,130,1);
}
.action_buttons li:hover {
  text-align: center;
  background: rgba(25,130,114,1);
}

.action_buttons li:hover > a{
  text-decoration: none;
}

.img_share {
  width: 5em;
  height: auto;
  padding: 0;
  margin: 0.5em 0.5em;
  display: inline;
}

.item{
  background-color: rgba(240, 240, 240, .5);
}
.sharer{
  float: right;
  padding-right: 1em;
}

.item_status {
  color: red;
}


/*4ac2e2*/

.about_block {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.about_inside {
  width: 61.8%;
  margin: 0 auto;
}
.about_block.odd {
  font-style: none;
}

h1.about1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1.about2 {
  margin: 0;
  padding: 0;
}

h2.about1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h3.about1 {

}
h3.about2 {
  font-weight: normal;
  color: #198272;
}
/*
grey #EBEBEB
blue #4AC2E2
teal #198272
dark #165987
*/
.about_block.even {
  background-color: #165987;
  color: #4AC2E2;

  /*background-color: #4ac2e2;*/

}

.anattaly{
  display: inline-block;
  margin-left: 4px;
  font-size: 40px;
}

.logo{
  width:50px;
  height:50px;
  background:url(index/om.gif) 0 0;
}

.welcome{
  padding: 0 10%;
  margin: 0 auto;
}

.user-form {
  margin: auto;
  width: 60%;
}

.user-form input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

.user-form input[type=submit]{
  width: 100px;
  background-color: rgba(21,86,130,1);
  border: none;
  color: #4ac2e2;
  letter-spacing: 1.5px;
}

.user-form input[type=submit]:hover {
  background-color: rgba(25,130,114,1);
  color: rgba(254,254,254,1);
}

input:focus, textarea:focus {
  border: 3px solid rgba(254,254,254,1);
  outline: none;
}

.user-form textarea{
  width: 100%;
  height: 200px;
}

.user-form p {
  font-size: 1.5em;
}
.stretchtest{
  width: 15em;
  height: 15em;
  /*padding: 4px;*/
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.item_container{
  width: 50%;
  border: 2px solid gray;
  padding: 0 40px;
}

.collection_container{
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
}


.collection-button {
  background-color: rgba(21,86,130,1);
  border: none;
  color: #4ac2e2;
  letter-spacing: 1.5px;
  padding:5px 25px;
}

a.collection-button:hover {
  background-color: rgba(25,130,114,1);
  text-decoration: none;
  color: white;
}

.user_gallery {
  min-width: 1296px;
  max-width: 1300px;
  margin: 0 auto;
}

.anattaly a{
  color: white;
}

.anattaly a:hover{
  text-decoration: none;
}
