@import "bootstrap";

body {
  font-family: "Tahoma"
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 4em;
  background: #006C51;
}

section {
  overflow: auto;
}

header {
  width: 100%;
}

.header_2 {
  display: inline;
}

.navbar .container{
  width: 1901px;
  background-color: #373744;
  overflow: visible;
  height: 60px;
  color: white;
}

#links a{
  color: #4ac2e2;
}


.btn-small {
  margin-left:1em;
}

.nav pull-center{
  width: 30%;
}

footer {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.my_items {
  width: 246px;
}

.caption {
  color: black;
  font-size: 12px;
  text-wrap: none;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1em;
  padding-right: 1em;
}

.container-body {
  width: 1200px;
  margin: 0 auto;
  padding: 1em 1em;
  box-shadow: 0px 5px 50px black;

  background-color: white;
  color: black;
  padding-bottom: 10em;
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.holy {
  width: 15em;
  height: 15em;
  padding: 0;
  margin: 0.5em 0.5em;
  border: 0.8em solid #DDD;
  border-bottom: 3em solid #DDD;
  background-color: black;
  display: inline;
}

h1 {
  display: inline-block;
  margin: 0;
  margin-left: 85px;
  padding: 50px 0;
  font-size: 3.25em;
}

.header_4 {
  display: inline;
}

.friends {
  width: 300px;
  border: .5em solid lightgrey;
  padding: 1em 2em;
}

.collection {
  margin-left: 95px;
}
