%h2= @category.name

%ul
  - @items.each do |item|
    - if @friend_items.include?(item)
      %li.items
        = link_to image_tag(item.image.url(:small), class: "holy img-polaroid"), item_path(item.id)
        = link_to item.name, item_path(item.id), class: "caption"
